
$button-hover-amount: 10% !default;

// Plane buttons
@mixin button($bg-color: #fff, $amount: $button-hover-amount) {
	border: 1px solid darken($bg-color, $amount);
	background-color: $bg-color;
	color: get-color($bg-color);
	&:hover, &:focus {
		$bg-hover-color: darken($bg-color, $amount);
		background-color: $bg-hover-color;
		color: get-color($bg-hover-color);
	}
	&:active {
		$bg-active-color: darken($bg-color, $amount + 5%);
		background-color: $bg-active-color;
		color: get-color($bg-active-color);
	}
}

// With box-shadow
@mixin push-button($bg-color: #fff, $amount: $button-hover-amount) {
	box-shadow: 0px 0.2em 0px 0px darken($bg-color, $amount);
	background-color: $bg-color;
	color: get-color($bg-color);
	&:hover, &:focus {
		$bg-hover-color: darken($bg-color, $amount);
		box-shadow: 0px 0.2em 0px 0px darken($bg-hover-color, $amount);
		background-color: $bg-hover-color;
		color: get-color($bg-hover-color);
	}
	&:active {
		box-shadow: none;
		top: 0.2em;
	}
}


$btn-type: "plane" !default;
$btn-padding: 0.45em 0.85em !default;
$btn-border-radius: $global-radius !default;
$btn-font-size: 0.875em !default;
$btn-line-height: 1.25 !default;
$btn-margin-top: 0.31em !default;
$btn-margin-bottom: $btn-margin-top !default;

$btn-default-bg-color: #fff !default;
$btn-primary-bg-color: $primary-color !default;
$btn-success-bg-color: $success-color !default;
$btn-info-bg-color: $info-color !default;
$btn-warning-bg-color: $warning-color !default;
$btn-danger-bg-color: $danger-color !default;
$btn-link-bg-color: $link-color !default;

@if $btn-type == "push" {
	.btn-default { @include push-button($bg-color: $btn-default-bg-color); }
	.btn-primary { @include push-button($bg-color: $btn-primary-bg-color); }
	.btn-success { @include push-button($bg-color: $btn-success-bg-color); }
	.btn-info    { @include push-button($bg-color: $btn-info-bg-color); }
	.btn-warning { @include push-button($bg-color: $btn-warning-bg-color); }
	.btn-danger  { @include push-button($bg-color: $btn-danger-bg-color); }
	
} @else {
	.btn-default { @include button($bg-color: $btn-default-bg-color); }
	.btn-primary { @include button($bg-color: $btn-primary-bg-color); }
	.btn-success { @include button($bg-color: $btn-success-bg-color); }
	.btn-info    { @include button($bg-color: $btn-info-bg-color); }
	.btn-warning { @include button($bg-color: $btn-warning-bg-color); }
	.btn-danger  { @include button($bg-color: $btn-danger-bg-color); }
}




.btn {
	position: relative;
	display: inline-block;
	margin-top: $btn-margin-top;
	margin-bottom: $btn-margin-bottom;
	padding: $btn-padding;
	outline: 0;
	border-radius: $btn-border-radius;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-size: $btn-font-size;
	line-height: $btn-line-height;
	&, &:hover { border: none; }
	@extend .btn-default;
}

