
$button-hover-amount: 10% !default;

// Plane buttons
@mixin btn-color($bg-color: #fff, $amount: $button-hover-amount) {
	background-color: $bg-color;
	color: get-color($bg-color);
	&:hover, &:focus {
		$bg-hover-color: darken($bg-color, $amount);
		background-color: $bg-hover-color;
		color: get-color($bg-hover-color);
	}
	&:active {
		$bg-active-color: darken($bg-color, $amount + 5%);
		background-color: $bg-active-color;
		color: get-color($bg-active-color);
	}
}

// With box-shadow
@mixin btn-push-color($bg-color: #fff, $amount: $button-hover-amount) {
	box-shadow: 0px 0.2em 0px 0px darken($bg-color, $amount);
	background-color: $bg-color;
	color: get-color($bg-color);
	&:hover, &:focus {
		$bg-hover-color: darken($bg-color, $amount);
		box-shadow: 0px 0.2em 0px 0px darken($bg-hover-color, $amount);
		background-color: $bg-hover-color;
		color: get-color($bg-hover-color);
	}
	&:active {
		box-shadow: none;
		top: 0.2em;
	}
}


$btn-type: "plane" !default;
$btn-padding: 0.45em 0.85em !default;
$btn-border-radius: $global-radius !default;
$btn-font-size: 0.875em !default;
$btn-line-height: 1.25 !default;
$btn-margin-top: 0.31em !default;
$btn-margin-bottom: $btn-margin-top !default;

$btn-default-bg-color: #fff !default;
$btn-primary-bg-color: $primary-color !default;
$btn-success-bg-color: $success-color !default;
$btn-info-bg-color: $info-color !default;
$btn-warning-bg-color: $warning-color !default;
$btn-danger-bg-color: $danger-color !default;
$btn-link-bg-color: $link-color !default;

.btn-default { @include btn-color($bg-color: $btn-default-bg-color); }
.btn-primary { @include btn-color($bg-color: $btn-primary-bg-color); }
.btn-success { @include btn-color($bg-color: $btn-success-bg-color); }
.btn-info    { @include btn-color($bg-color: $btn-info-bg-color); }
.btn-warning { @include btn-color($bg-color: $btn-warning-bg-color); }
.btn-danger  { @include btn-color($bg-color: $btn-danger-bg-color); }

.btn-push-default { @include btn-push-color($bg-color: $btn-default-bg-color); }
.btn-push-primary { @include btn-push-color($bg-color: $btn-primary-bg-color); }
.btn-push-success { @include btn-push-color($bg-color: $btn-success-bg-color); }
.btn-push-info    { @include btn-push-color($bg-color: $btn-info-bg-color); }
.btn-push-warning { @include btn-push-color($bg-color: $btn-warning-bg-color); }
.btn-push-danger  { @include btn-push-color($bg-color: $btn-danger-bg-color); }


.btn {
	position: relative;
	display: inline-block;
	margin-top: $btn-margin-top;
	margin-bottom: $btn-margin-bottom;
	padding: $btn-padding;
	outline: 0;
	border: none;
	border-radius: $btn-border-radius;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-size: $btn-font-size;
	line-height: $btn-line-height;
	@extend .btn-default;
}

.btn-push {
	@extend .btn;
	@extend .btn-push-default;
}