
// This mixin output style depending on the appearance of the input
@mixin input($appearance: false) {
	@if $appearance == text {
		input[type="color"],
		input[type="date"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="month"],
		input[type="tel"],
		input[type="text"],
		input[type="time"],
		input[type="url"],
		input[type="week"] {
			-webkit-appearance: text;
			@content;
		}
	} @else if $appearance == button {
		button, .button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			@content;
		}
	} @else {
		input {
			@content;
		}
	}
}

$input-width: 100% !default;
$input-border: 1px solid $grey-color !default;
$input-border-radius: $global-radius !default;
$input-font-size: 1em !default;

@include input(text) {
	width: $input-width;
	border: $input-border;
	border-radius: $input-border-radius;
	font-size: $input-font-size;
	padding: 0.4em 0.5em;
	line-height: 1;
}

input ~ label {
	content: "*";
}

input:required {
	border-color: red;
}