
@import "../functions";



//
// Global Styles
//
$body-bg: #fff !default;
$body-font-color: #000 !default;
$body-font-family: sans-serif !default;
$body-font-size: 1em !default;

$global-radius: 5px !default;
$global-monospace-font: Consolas, Monaco, "Andale Mono", monospace !default;
$global-var-font-color: #C7254E !default;

//
// Colors
//
$grey-color: #ccc !default;

$primary-color: #09f !default;
$success-color: #2ecc71 !default;
$info-color: #5bc0de !default;
$warning-color: #f39c12 !default;
$danger-color: #d9534f !default;

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	overflow-x: hidden;
}

body {
	background: $body-bg;
	color: $body-font-color;
	font-size: $body-font-size;
	font-family: $body-font-family;
}



//
// Link Styles
//
$link-decoration: none !default;
$link-color: blue !default;

$link-hover-decoration: solid !default;
$link-hover-color: darken($link-color, 10%) !default;

a {
	color: $link-color;
	text-decoration: $link-decoration;
	&:hover {
		color: $link-hover-color;
		@include underline($style: $link-hover-decoration);
	}
	&.has-image {
		display: inline-block;
		border: none;
	}
}



.right, .alignright { float: right !important; }
.left, .alignleft {	float: left !important; }
.hide {	display: none; }

img {
	display: inline-block;
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

img.alignright { float: right !important; margin: 0 0 1em 1em; }
img.alignleft { float: left !important; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.radius { border-radius: $global-radius; }

// This mixin output a clearfix for all browser
@mixin clearfix() {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// This mixin output an antialiased for Webkit and Mozilla on Mac
@mixin antialiased() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.clearfix {	@include clearfix(); }
.antialiased { @include antialiased(); }



//
// Collapse utility classes
//
@include media {
	.collapse {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.collapse-left {
		padding-left: 0 !important;
	}

	.collapse-right {
		padding-right: 0 !important;
	}
}

@include media(medium-up) {
	.m-collapse {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.m-collapse-left {
		padding-left: 0 !important;
	}
	.m-collapse-right {
		padding-right: 0 !important;
	}
}

@include media(large-up) {
	.l-collapse {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.l-collapse-left {
		padding-left: 0 !important;
	}
	.l-collapse-right {
		padding-right: 0 !important;
	}
}
