
//
// Grid System
//
$row-width: 1200px !default;
$column-gutter: 30px !default;

$total-columns: 12 !default;

.row {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	max-width: $row-width;
	width: 100%;
	@include clearfix();
	[class*="col-"] .row {
		width: auto;
		max-width: none;
		margin-right: ( $column-gutter / 2 ) * -1;
		margin-left: ( $column-gutter / 2 ) * -1;
	}
}


@function grid-calc( $i, $columns: $total-columns ) {
	@return percentage( $i / $columns );
}

[class*="col-"] {
	position: relative;
	float: left;
	padding-right: $column-gutter / 2;
	padding-left: $column-gutter / 2;
	width: 100%;
	& + &:last-child {
		float: right;
	}
}

.full-width {
	position: relative;
	background: inherit;
	&:before, &:after {
		content: "\00a0" !important;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 9999px;
		background: inherit;
	}
	&:before {
		right: 100%;
	}
	&:after {
		left: 100%;
	}
}

@include media {
	@for $i from 1 through $total-columns {
		.col-#{$i} {
			width: grid-calc($i);
		}
	}
}

@include media(medium-up) {
	@for $i from 1 through $total-columns {
		.col-m-#{$i} {
			width: grid-calc($i);
		}
	}
}

@include media(large-up) {
	@for $i from 1 through $total-columns {
		.col-l-#{$i} {
			width: grid-calc($i);
		}
	}
}