
//
// Tables
//
$table-border: none !default;

$table-thead-bg: $primary-color !default;
$table-thead-color: #fff !default;
$table-thead-font-size: 1.25em !default;

$table-thead-cell-padding: 0.5em 1em !default;
$table-thead-cell-border: 2px solid #fff !default;

$table-cell-padding: 0.5em 1em !default;
$table-cell-font-size: 1em !default;
$table-cell-line-height: 1 !default;

$table-even-bg: lighten($grey-color, 10%) !default;


table {
	width: 100%;
	border: $table-border;
}

table th,
table td {
	padding: $table-cell-padding;
	text-align: left;
	font-size: $table-cell-font-size;
	line-height: $table-cell-line-height;
}

table thead {
	background: $table-thead-bg;
	color: $table-thead-color;
	font-size: $table-thead-font-size;
}

table thead th {
	padding: $table-thead-cell-padding;
	border-right: $table-thead-cell-border;
	border-left: $table-thead-cell-border;
	&:first-child { border-left: none; }
	&:last-child { border-right: none; }
}

table tr.even,
table tr:nth-of-type(even) {
	background: $table-even-bg;
}