
//
// Type reset
//
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre,
form,
p, blockquote,
th, td {
	margin: 0;
	padding: 0;
}

code, kbd, pre, samp {
	font-family: $global-monospace-font;
}



//
// Header Styles
//
$header-display: block !default;
$header-margin-vertical: $rem-base !default;
$header-font-color: inherit !default;
$header-font-weight: 600 !default;
$header-font-style: normal !default;
$header-font-family: inherit !default;
$header-line-height: normal !default;
$header-text-rendering: optimizeLegibility !default;

$h1-font-size: 2.5em !default;
$h2-font-size: 2.25em !default;
$h3-font-size: 2em !default;
$h4-font-size: 1.75em !default;
$h5-font-size: 1.5em !default;
$h6-font-size: 1.25em !default;

// This mixin output an hn, .hn style.
@mixin hn( $hn: false ) {
	@if $hn {
		#{$hn}, .#{$hn} {
			@content;
		}
	} @else {
		h1, .h1,
		h2, .h2,
		h3, .h3,
		h4, .h4,
		h5, .h5,
		h6, .h6 {
			@content;
		}
	}
}

@include hn {
	display: $header-display;
	margin: $header-margin-vertical 0;
	margin: rem-calc($header-margin-vertical) 0;
	color: $header-font-color;
	font-weight: $header-font-weight;
	font-style: $header-font-style;
	font-family: $header-font-family;
	line-height: $header-line-height;
	text-rendering: $header-text-rendering;
	@include antialiased();
	a, a:hover {
		color: inherit;
		border-bottom: none;
	}
	small {
		font-size: 0.6em;
	}
}


@include hn( h1 ) { font-size: $h1-font-size; }
@include hn( h2 ) { font-size: $h2-font-size; }
@include hn( h3 ) { font-size: $h3-font-size; }
@include hn( h4 ) { font-size: $h4-font-size; }
@include hn( h5 ) { font-size: $h5-font-size; }
@include hn( h6 ) { font-size: $h6-font-size; }



//
// Paragraph Style
//
$paragraph-margin-bottom: 1em !default;
$paragraph-font-color: inherit !default;
$paragraph-font-weight: normal !default;
$paragraph-font-style: normal !default;
$paragraph-font-size: 1em !default;
$paragraph-font-family: inherit !default;
$paragraph-line-height: 1.6 !default;
$paragraph-text-rendering: optimizeLegibility !default;

p {
	margin-bottom: $paragraph-margin-bottom;
	color: $paragraph-font-color;
	font-weight: $paragraph-font-weight;
	font-style: $paragraph-font-style;
	font-size:  $paragraph-font-size;
	font-family: $paragraph-font-family;
	line-height: $paragraph-line-height;
	text-rendering: $paragraph-text-rendering;
}



//
// Lists
//
$list-margin-left: 1em !default;
$list-margin-bottom: 1em !default;
$list-style-position: outside !default;
$list-font-size: 1em !default;
$list-line-height: 1.6 !default;
ul, ol, dl {
	margin-bottom: $list-margin-bottom;
	list-style-position: $list-style-position;
	font-size: $list-font-size;
	font-family: inherit;
	line-height: $list-line-height;
}

ul, ol {
	margin-left: $list-margin-left;
}

ul.no-bullet ul,
ul.circle ul,
ul.disc ul,
ul.square ul {
	list-style: inherit;
}

ul.circle {	list-style-type: circle; }
ul.disc {	list-style-type: disc; }
ul.no-bullet { margin-left: 0; list-style: none; }
ul.square {	list-style-type: square; }



//
// Type utility
//
@include media {
	.text-right { text-align: right; }
	.text-left { text-align: left; }
	.text-center { text-align: center; }
	.text-justify { text-align: justify; }
}

@include media(medium-up) {
	.m-text-right { text-align: right; }
	.m-text-left { text-align: left; }
	.m-text-center { text-align: center; }
	.m-text-justify { text-align: justify; }
}

@include media(large-up) {
	.l-text-right { text-align: right; }
	.l-text-left { text-align: left; }
	.l-text-center { text-align: center; }
	.l-text-justify { text-align: justify; }
}





//
// Small
//
$small-font-size: 0.8em !default;

small, .small { font-size: $small-font-size; }



//
// Address
//
$address-font-style: normal !default;
$address-font-size: 1em !default;
$address-margin-bottom: 1em !default;
address {
	font-style: $address-font-style;
	font-size: $address-font-size;
	margin-bottom: $address-margin-bottom;
}



//
// Abbreviation
//
$abbr-border-bottom: dotted !default;

abbr[title] {
	border-bottom: $abbr-border-bottom;
	cursor: help;
}



//
// Mark
//
$mark-bg: #ffa !default;
$mark-padding: 0 0.1em !default;

mark {
	padding: $mark-padding;
	background: $mark-bg;
}



//
// Ins
//
ins {
	text-decoration: none;
	border-bottom: 1px solid;
}



//
// Keystrokes
//
$kbd-padding: 2px 4px !default;
$kbd-font-size: 0.9em !default;
$kbd-border-radius: $global-radius - 2px !default;
$kbd-bg: #333 !default;
$kbd-color: #fff !default;

kbd {
	padding: $kbd-padding;
	font-size: $kbd-font-size;
	border-radius: $kbd-border-radius;
	background: $kbd-bg;
	color: $kbd-color;
}


//
// Pre
//
$pre-margin-bottom: 1em !default;
$pre-bg: #F3F3F7 !default;
$pre-color: #000 !default;
pre {
	margin-bottom: $pre-margin-bottom;
	padding: $column-gutter / 2;

	color: $pre-color;
	border: 1px solid darken($pre-bg, 10%);
	background: $pre-bg;
}




//
// Code
//
$code-padding: 2px 4px !default;
$code-border-radius: $global-radius - 2px !default;
$code-bg: lighten($global-var-font-color, 51%) !default;
$code-font-color: $global-var-font-color !default;
$code-font-size: 0.9em !default;

code {
	padding: $code-padding;
	border-radius: $code-border-radius;
	background: $code-bg;
	color: $global-var-font-color;
	white-space: pre-wrap;
	font-size: $code-font-size;
}



//
// Blockquote Style
//
$blockquote-margin-bottom: 1em !default;
$blockquote-padding: 0.5em 1em !default;
$blockquote-border: 3px solid lighten( $primary-color, 40% ) !default;

$blockquote-highlight-outline: 10px solid $primary-color !default;
$blockquote-highlight-color: #fff !default;
$blockquote-highlight-bg: $primary-color !default;

blockquote {
	margin-bottom: $blockquote-margin-bottom;
	padding: $blockquote-padding;
	border-left: $blockquote-border;
	p {
		font-weight: inherit;
		font-style: normal;
		font-size: 1em;
		font-family: inherit;
		&:last-child { margin-bottom: 0; }
	}
	footer, p + cite, footer cite { font-style: normal; }
	footer, p + cite { color: darken($grey-color, 15%); }
	footer:before { content: '\2014 \00A0'; }

	.ie6 &, .ie7 &, .ie8 & {
		p {	margin-bottom: 0; }
		p + * { margin-top: $blockquote-margin-bottom; }
		cite { display: inline-block; }
	}
}

blockquote.blockquote--highlight {
	outline: $blockquote-highlight-outline;
	border-color: initial;
	background: $blockquote-highlight-bg;
	color: $blockquote-highlight-color;
	font-weight: 600;
	footer, p + cite {
		color: $grey-color;
	}
	cite { font-weight: 400; }
	@include antialiased();
}