/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, scss/sucss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, scss/sucss/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 32, scss/sucss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 52, scss/sucss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, scss/sucss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 75, scss/sucss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, scss/sucss/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, scss/sucss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, scss/sucss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 115, scss/sucss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, scss/sucss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, scss/sucss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, scss/sucss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, scss/sucss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 159, scss/sucss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, scss/sucss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, scss/sucss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, scss/sucss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, scss/sucss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, scss/sucss/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, scss/sucss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 219, scss/sucss/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 227, scss/sucss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 250, scss/sucss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, scss/sucss/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 275, scss/sucss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 288, scss/sucss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 300, scss/sucss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 309, scss/sucss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, scss/sucss/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, scss/sucss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 344, scss/sucss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, scss/sucss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 368, scss/sucss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, scss/sucss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, scss/sucss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, scss/sucss/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, scss/sucss/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, scss/sucss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 422, scss/sucss/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 24, scss/sucss/components/_global.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, scss/sucss/components/_global.scss */
html, body {
  overflow-x: hidden;
}

/* line 34, scss/sucss/components/_global.scss */
html {
  font-size: 100%;
}

/* line 38, scss/sucss/components/_global.scss */
body {
  background: white;
  color: black;
  font-size: 1em;
  font-family: sans-serif;
}

/* line 46, scss/sucss/components/_global.scss */
.right, .alignright {
  float: right !important;
}

/* line 47, scss/sucss/components/_global.scss */
.left, .alignleft {
  float: left !important;
}

/* line 48, scss/sucss/components/_global.scss */
.hide {
  display: none;
}

/* line 50, scss/sucss/components/_global.scss */
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* line 56, scss/sucss/components/_global.scss */
.ie6 img, .ie7 img, .ie8 img {
  width: inherit;
}

/* line 61, scss/sucss/components/_global.scss */
img.alignright {
  float: right !important;
  margin: 0 0 1em 1em;
}

/* line 62, scss/sucss/components/_global.scss */
img.alignleft {
  float: left !important;
  margin: 0 1em 1em 0;
}

/* line 63, scss/sucss/components/_global.scss */
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 65, scss/sucss/components/_global.scss */
.radius {
  border-radius: 5px;
}

/* line 85, scss/sucss/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 70, scss/sucss/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 74, scss/sucss/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 86, scss/sucss/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 94, scss/sucss/components/_global.scss */
.s-collapse {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* line 99, scss/sucss/components/_global.scss */
.s-collapse-left {
  padding-left: 0 !important;
}

/* line 103, scss/sucss/components/_global.scss */
.s-collapse-right {
  padding-right: 0 !important;
}

@media only screen and (min-width: 40.0625em) {
  /* line 109, scss/sucss/components/_global.scss */
  .m-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* line 113, scss/sucss/components/_global.scss */
  .m-collapse-left {
    padding-left: 0 !important;
  }

  /* line 116, scss/sucss/components/_global.scss */
  .m-collapse-right {
    padding-right: 0 !important;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 122, scss/sucss/components/_global.scss */
  .l-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* line 126, scss/sucss/components/_global.scss */
  .l-collapse-left {
    padding-left: 0 !important;
  }

  /* line 129, scss/sucss/components/_global.scss */
  .l-collapse-right {
    padding-right: 0 !important;
  }
}
/* line 10, scss/sucss/components/_grid.scss */
.row {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 1200px;
  width: 100%;
  *zoom: 1;
}
/* line 70, scss/sucss/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 74, scss/sucss/components/_global.scss */
.row:after {
  clear: both;
}
/* line 18, scss/sucss/components/_grid.scss */
.row [class*="col-"] .row {
  width: auto;
  max-width: none;
  margin-right: -15px;
  margin-left: -15px;
}

/* line 31, scss/sucss/components/_grid.scss */
[class*="col-"] {
  position: relative;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
/* line 37, scss/sucss/components/_grid.scss */
[class*="col-"] + [class*="col-"]:last-child {
  float: right;
}

/* line 42, scss/sucss/components/_grid.scss */
.full-width {
  position: relative;
  background: inherit;
}
/* line 45, scss/sucss/components/_grid.scss */
.full-width:before, .full-width:after {
  content: "\00a0" !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  background: inherit;
}
/* line 53, scss/sucss/components/_grid.scss */
.full-width:before {
  right: 100%;
}
/* line 56, scss/sucss/components/_grid.scss */
.full-width:after {
  left: 100%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-1 {
  width: 8.33333%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-2 {
  width: 16.66667%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-3 {
  width: 25%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-4 {
  width: 33.33333%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-5 {
  width: 41.66667%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-6 {
  width: 50%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-7 {
  width: 58.33333%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-8 {
  width: 66.66667%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-9 {
  width: 75%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-10 {
  width: 83.33333%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-11 {
  width: 91.66667%;
}

/* line 63, scss/sucss/components/_grid.scss */
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 40.0625em) {
  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-1 {
    width: 8.33333%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-2 {
    width: 16.66667%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-3 {
    width: 25%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-4 {
    width: 33.33333%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-5 {
    width: 41.66667%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-6 {
    width: 50%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-7 {
    width: 58.33333%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-8 {
    width: 66.66667%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-9 {
    width: 75%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-10 {
    width: 83.33333%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-11 {
    width: 91.66667%;
  }

  /* line 71, scss/sucss/components/_grid.scss */
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-1 {
    width: 8.33333%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-2 {
    width: 16.66667%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-3 {
    width: 25%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-4 {
    width: 33.33333%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-5 {
    width: 41.66667%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-6 {
    width: 50%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-7 {
    width: 58.33333%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-8 {
    width: 66.66667%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-9 {
    width: 75%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-10 {
    width: 83.33333%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-11 {
    width: 91.66667%;
  }

  /* line 79, scss/sucss/components/_grid.scss */
  .col-l-12 {
    width: 100%;
  }
}
/* line 5, scss/sucss/components/_type.scss */
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre,
form,
p, blockquote,
th, td {
  margin: 0;
  padding: 0;
}

/* line 17, scss/sucss/components/_type.scss */
code, kbd, pre, samp {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

/* line 21, scss/sucss/components/_type.scss */
ul, ol {
  margin-left: 1em;
}

/* line 25, scss/sucss/components/_type.scss */
ol {
  list-style-type: decimal;
}
/* line 27, scss/sucss/components/_type.scss */
ol ol {
  list-style-type: upper-alpha;
}
/* line 28, scss/sucss/components/_type.scss */
ol ol ol {
  list-style-type: lower-alpha;
}
/* line 29, scss/sucss/components/_type.scss */
ol ol ol ol {
  list-style-type: upper-roman;
}
/* line 30, scss/sucss/components/_type.scss */
ol ol ol ol ol {
  list-style-type: lower-roman;
}

/* line 37, scss/sucss/components/_type.scss */
.text-right {
  text-align: right;
}

/* line 38, scss/sucss/components/_type.scss */
.text-left {
  text-align: left;
}

/* line 39, scss/sucss/components/_type.scss */
.text-center {
  text-align: center;
}

/* line 40, scss/sucss/components/_type.scss */
.text-justify {
  text-align: justify;
}

/* line 50, scss/sucss/components/_type.scss */
small, .small {
  font-size: 0.8em;
}

/* line 60, scss/sucss/components/_type.scss */
address {
  font-style: normal;
  font-size: 1em;
  margin-bottom: 1em;
}

/* line 73, scss/sucss/components/_type.scss */
abbr[title] {
  border-bottom: 1px dotted;
  border-bottom-color: initial;
  cursor: help;
}

/* line 87, scss/sucss/components/_type.scss */
mark {
  padding: 0 0.1em;
  background: #ffffaa;
}

/* line 103, scss/sucss/components/_type.scss */
kbd {
  padding: 2px 4px;
  font-size: 0.9em;
  border-radius: 3px;
  background: #333333;
  color: white;
}

/* line 121, scss/sucss/components/_type.scss */
code {
  padding: 2px 4px;
  border-radius: 3px;
  background: #fdf3f6;
  color: #c7254e;
  white-space: nowrap;
  font-size: 0.9em;
}

/* line 157, scss/sucss/components/_type.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 16px 0;
  color: inherit;
  font-weight: 600;
  font-style: normal;
  font-family: inherit;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 177, scss/sucss/components/_type.scss */
h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  color: inherit;
}
/* line 180, scss/sucss/components/_type.scss */
h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
  font-size: 0.6em;
}

/* line 153, scss/sucss/components/_type.scss */
h1, .h1 {
  font-size: 2.5em;
}

/* line 153, scss/sucss/components/_type.scss */
h2, .h2 {
  font-size: 2.25em;
}

/* line 153, scss/sucss/components/_type.scss */
h3, .h3 {
  font-size: 2em;
}

/* line 153, scss/sucss/components/_type.scss */
h4, .h4 {
  font-size: 1.75em;
}

/* line 153, scss/sucss/components/_type.scss */
h5, .h5 {
  font-size: 1.5em;
}

/* line 153, scss/sucss/components/_type.scss */
h6, .h6 {
  font-size: 1.25em;
}

/* line 207, scss/sucss/components/_type.scss */
p {
  margin-bottom: 1em;
  color: inherit;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

/* line 231, scss/sucss/components/_type.scss */
blockquote {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-left: 3px solid #ccebff;
}
/* line 235, scss/sucss/components/_type.scss */
blockquote p {
  font-weight: inherit;
  font-style: normal;
  font-size: 1em;
  font-family: inherit;
}
/* line 240, scss/sucss/components/_type.scss */
blockquote p:last-child {
  margin-bottom: 0;
}
/* line 242, scss/sucss/components/_type.scss */
blockquote footer, blockquote p + cite, blockquote footer cite {
  font-style: normal;
}
/* line 243, scss/sucss/components/_type.scss */
blockquote footer, blockquote p + cite {
  color: #a6a6a6;
}
/* line 244, scss/sucss/components/_type.scss */
blockquote footer:before {
  content: '\2014 \00A0';
}
/* line 247, scss/sucss/components/_type.scss */
.ie6 blockquote p, .ie7 blockquote p, .ie8 blockquote p {
  margin-bottom: 0;
}
/* line 248, scss/sucss/components/_type.scss */
.ie6 blockquote p + *, .ie7 blockquote p + *, .ie8 blockquote p + * {
  margin-top: 1em;
}
/* line 249, scss/sucss/components/_type.scss */
.ie6 blockquote cite, .ie7 blockquote cite, .ie8 blockquote cite {
  display: inline-block;
}

/* line 253, scss/sucss/components/_type.scss */
blockquote.blockquote--highlight {
  outline: 10px solid #0099ff;
  border-color: initial;
  background: #0099ff;
  color: white;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 259, scss/sucss/components/_type.scss */
blockquote.blockquote--highlight footer, blockquote.blockquote--highlight p + cite {
  color: #cccccc;
}
/* line 262, scss/sucss/components/_type.scss */
blockquote.blockquote--highlight cite {
  font-weight: 400;
}

/* line 6, scss/style.scss */
.row.wrapper {
  color: #fff;
  text-align: center;
  font-size: 1.25em;
}

/* line 12, scss/style.scss */
.inner {
  background-color: #0099ff;
}

/* line 16, scss/style.scss */
.full-width {
  background-color: #0099ff;
  color: #fff;
}
