@charset "UTF-8";

@import "settings";
@import "sucss/sucss";

.row.wrapper {
	color: #fff;
	text-align: center;
	font-size: 1.25em;
}

.inner {
	background-color: $primary-color;
}

.full-width {
	background-color: $primary-color;
	color: #fff;
}
