@charset "UTF-8";

@import "settings";
@import "sucss/sucss";

.row.wrapper {
	color: #fff;
	text-align: center;
	font-size: 1.25em;
	[class*="col-"] {
		background-color: lighten(#f00, 37.5%);
	}
}

.inner {
	background-color: #f00;
	height: 150px;
}