@charset "UTF-8";

@import "settings";
@import "sucss/sucss";

.row.wrapper {
	background-color: lighten(#f00, 25%);
	color: #fff;
	text-align: center;
	font-size: 1.25em;
}

.inner {
	background-color: #f00;
}