/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #000;
  font-size: 1em;
  font-family: sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
a.has-image {
  display: inline-block;
  max-width: 100%;
  border: none;
}
.ie6 a.has-image, .ie7 a.has-image, .ie8 a.has-image {
  width: 100%;
}

.right, .alignright {
  float: right !important;
}

.left, .alignleft {
  float: left !important;
}

.hide {
  display: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

img.alignright {
  float: right !important;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left !important;
  margin: 0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.radius {
  border-radius: 5px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.collapse {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.collapse-left {
  padding-left: 0 !important;
}

.collapse-right {
  padding-right: 0 !important;
}

@media only screen and (min-width: 40.0625em) {
  .m-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .m-collapse-left {
    padding-left: 0 !important;
  }

  .m-collapse-right {
    padding-right: 0 !important;
  }
}
@media only screen and (min-width: 64.0625em) {
  .l-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .l-collapse-left {
    padding-left: 0 !important;
  }

  .l-collapse-right {
    padding-right: 0 !important;
  }
}
.row {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 1200px;
  width: 100%;
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row [class*="col-"] .row {
  width: auto;
  max-width: none;
  margin-right: -15px;
  margin-left: -15px;
  *zoom: 1;
}
.row [class*="col-"] .row:before, .row [class*="col-"] .row:after {
  content: " ";
  display: table;
}
.row [class*="col-"] .row:after {
  clear: both;
}

[class*="col-"] {
  position: relative;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
[class*="col-"] + [class*="col-"]:last-child {
  float: right;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: 40.0625em) {
  .col-m-1 {
    width: 8.33333%;
  }

  .col-m-2 {
    width: 16.66667%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33333%;
  }

  .col-m-5 {
    width: 41.66667%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33333%;
  }

  .col-m-8 {
    width: 66.66667%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33333%;
  }

  .col-m-11 {
    width: 91.66667%;
  }

  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 64.0625em) {
  .col-l-1 {
    width: 8.33333%;
  }

  .col-l-2 {
    width: 16.66667%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-4 {
    width: 33.33333%;
  }

  .col-l-5 {
    width: 41.66667%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-7 {
    width: 58.33333%;
  }

  .col-l-8 {
    width: 66.66667%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-10 {
    width: 83.33333%;
  }

  .col-l-11 {
    width: 91.66667%;
  }

  .col-l-12 {
    width: 100%;
  }
}
.full-width {
  position: relative;
  background: inherit;
}
.full-width:before, .full-width:after {
  content: "\00a0" !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  background: inherit;
}
.full-width:before {
  right: 100%;
}
.full-width:after {
  left: 100%;
}

div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre,
form,
p, blockquote,
th, td {
  margin: 0;
  padding: 0;
}

code, kbd, pre, samp {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  margin: 16px 0;
  margin: 1rem 0;
  color: inherit;
  font-weight: 600;
  font-style: normal;
  font-family: inherit;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 a, h1 a:hover, .h1 a, .h1 a:hover,
h2 a,
h2 a:hover, .h2 a, .h2 a:hover,
h3 a,
h3 a:hover, .h3 a, .h3 a:hover,
h4 a,
h4 a:hover, .h4 a, .h4 a:hover,
h5 a,
h5 a:hover, .h5 a, .h5 a:hover,
h6 a,
h6 a:hover, .h6 a, .h6 a:hover {
  color: inherit;
  border-bottom: none;
}
h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small {
  font-size: 0.6em;
}

h1, .h1 {
  font-size: 2.5em;
}

h2, .h2 {
  font-size: 2.25em;
}

h3, .h3 {
  font-size: 2em;
}

h4, .h4 {
  font-size: 1.75em;
}

h5, .h5 {
  font-size: 1.5em;
}

h6, .h6 {
  font-size: 1.25em;
}

p {
  margin-bottom: 1em;
  color: inherit;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

ul, ol, dl {
  margin-bottom: 1em;
  list-style-position: outside;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.6;
}

ul, ol {
  margin-left: 1em;
}

ul.no-bullet ul,
ul.circle ul,
ul.disc ul,
ul.square ul {
  list-style: inherit;
}

ul.circle {
  list-style-type: circle;
}

ul.disc {
  list-style-type: disc;
}

ul.no-bullet {
  margin-left: 0;
  list-style: none;
}

ul.square {
  list-style-type: square;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

@media only screen and (min-width: 40.0625em) {
  .m-text-right {
    text-align: right;
  }

  .m-text-left {
    text-align: left;
  }

  .m-text-center {
    text-align: center;
  }

  .m-text-justify {
    text-align: justify;
  }
}
@media only screen and (min-width: 64.0625em) {
  .l-text-right {
    text-align: right;
  }

  .l-text-left {
    text-align: left;
  }

  .l-text-center {
    text-align: center;
  }

  .l-text-justify {
    text-align: justify;
  }
}
small, .small {
  font-size: 0.8em;
}

address {
  font-style: normal;
  font-size: 1em;
  margin-bottom: 1em;
}

abbr[title] {
  border-bottom: dotted;
  cursor: help;
}

mark {
  padding: 0 0.1em;
  background: #ffa;
}

ins {
  text-decoration: none;
  border-bottom: 1px solid;
}

kbd {
  padding: 2px 4px;
  font-size: 0.9em;
  border-radius: 3px;
  background: #333;
  color: #fff;
}

pre {
  margin-bottom: 1em;
  padding: 15px;
  color: #000;
  border: 1px solid #d4d4e3;
  background: #F3F3F7;
}

code {
  padding: 2px 4px;
  border-radius: 3px;
  background: #fdf3f6;
  color: #C7254E;
  white-space: pre-wrap;
  font-size: 0.9em;
}

blockquote {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-left: 3px solid #ccebff;
}
blockquote p {
  font-weight: inherit;
  font-style: normal;
  font-size: 1em;
  font-family: inherit;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote footer, blockquote p + cite, blockquote footer cite {
  font-style: normal;
}
blockquote footer, blockquote p + cite {
  color: #a6a6a6;
}
blockquote footer:before {
  content: '\2014 \00A0';
}
.ie6 blockquote p, .ie7 blockquote p, .ie8 blockquote p {
  margin-bottom: 0;
}
.ie6 blockquote p + *, .ie7 blockquote p + *, .ie8 blockquote p + * {
  margin-top: 1em;
}
.ie6 blockquote cite, .ie7 blockquote cite, .ie8 blockquote cite {
  display: inline-block;
}

blockquote.blockquote--highlight {
  outline: 10px solid #09f;
  border-color: initial;
  background: #09f;
  color: #fff;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
blockquote.blockquote--highlight footer, blockquote.blockquote--highlight p + cite {
  color: #ccc;
}
blockquote.blockquote--highlight cite {
  font-weight: 400;
}

table {
  width: 100%;
  border: none;
}

table th,
table td {
  padding: 0.5em 1em;
  text-align: left;
  font-size: 1em;
  line-height: 1;
}

table thead {
  background: #09f;
  color: #fff;
  font-size: 1.25em;
}

table thead th {
  padding: 0.5em 1em;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}
table thead th:first-child {
  border-left: none;
}
table thead th:last-child {
  border-right: none;
}

table tr.even,
table tr:nth-of-type(even) {
  background: #e6e6e6;
}

.btn-default, .btn, .btn-push {
  background-color: #333;
  color: #fff;
}
.btn-default:hover, .btn:hover, .btn-push:hover, .btn-default:focus, .btn:focus, .btn-push:focus {
  background-color: #1a1a1a;
  color: #fff;
}
.btn-default:active, .btn:active, .btn-push:active {
  background-color: #0d0d0d;
  color: #fff;
}

.btn-primary {
  background-color: #09f;
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #007acc;
  color: #fff;
}
.btn-primary:active {
  background-color: #006bb3;
  color: #fff;
}

.btn-secondary {
  background-color: #036;
  color: #fff;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #001933;
  color: #fff;
}
.btn-secondary:active {
  background-color: #000d1a;
  color: #fff;
}

.btn-success {
  background-color: green;
  color: #fff;
}
.btn-success:hover, .btn-success:focus {
  background-color: #004d00;
  color: #fff;
}
.btn-success:active {
  background-color: #003400;
  color: #fff;
}

.btn-info {
  background-color: LightSkyBlue;
  color: #fff;
}
.btn-info:hover, .btn-info:focus {
  background-color: #56baf8;
  color: #fff;
}
.btn-info:active {
  background-color: #3eb0f7;
  color: #fff;
}

.btn-warning {
  background-color: orange;
  color: #fff;
}
.btn-warning:hover, .btn-warning:focus {
  background-color: #cc8400;
  color: #fff;
}
.btn-warning:active {
  background-color: #b37300;
  color: #fff;
}

.btn-danger {
  background-color: red;
  color: #fff;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #cc0000;
  color: #fff;
}
.btn-danger:active {
  background-color: #b30000;
  color: #fff;
}

.btn-push-default, .btn-push {
  box-shadow: 0px 0.2em 0px 0px #1a1a1a;
  background-color: #333;
  color: #fff;
}
.btn-push-default:hover, .btn-push:hover, .btn-push-default:focus, .btn-push:focus {
  box-shadow: 0px 0.2em 0px 0px black;
  background-color: #1a1a1a;
  color: #fff;
}
.btn-push-default:active, .btn-push:active {
  box-shadow: none;
  top: 0.2em;
}

.btn-push-primary {
  box-shadow: 0px 0.2em 0px 0px #007acc;
  background-color: #09f;
  color: #fff;
}
.btn-push-primary:hover, .btn-push-primary:focus {
  box-shadow: 0px 0.2em 0px 0px #005c99;
  background-color: #007acc;
  color: #fff;
}
.btn-push-primary:active {
  box-shadow: none;
  top: 0.2em;
}

.btn-push-secondary {
  box-shadow: 0px 0.2em 0px 0px #001933;
  background-color: #036;
  color: #fff;
}
.btn-push-secondary:hover, .btn-push-secondary:focus {
  box-shadow: 0px 0.2em 0px 0px black;
  background-color: #001933;
  color: #fff;
}
.btn-push-secondary:active {
  box-shadow: none;
  top: 0.2em;
}

.btn-push-success {
  box-shadow: 0px 0.2em 0px 0px #004d00;
  background-color: green;
  color: #fff;
}
.btn-push-success:hover, .btn-push-success:focus {
  box-shadow: 0px 0.2em 0px 0px #001a00;
  background-color: #004d00;
  color: #fff;
}
.btn-push-success:active {
  box-shadow: none;
  top: 0.2em;
}

.btn-push-info {
  box-shadow: 0px 0.2em 0px 0px #56baf8;
  background-color: LightSkyBlue;
  color: #fff;
}
.btn-push-info:hover, .btn-push-info:focus {
  box-shadow: 0px 0.2em 0px 0px #25a6f6;
  background-color: #56baf8;
  color: #fff;
}
.btn-push-info:active {
  box-shadow: none;
  top: 0.2em;
}

.btn-push-warning {
  box-shadow: 0px 0.2em 0px 0px #cc8400;
  background-color: orange;
  color: #fff;
}
.btn-push-warning:hover, .btn-push-warning:focus {
  box-shadow: 0px 0.2em 0px 0px #996300;
  background-color: #cc8400;
  color: #fff;
}
.btn-push-warning:active {
  box-shadow: none;
  top: 0.2em;
}

.btn-push-danger {
  box-shadow: 0px 0.2em 0px 0px #cc0000;
  background-color: red;
  color: #fff;
}
.btn-push-danger:hover, .btn-push-danger:focus {
  box-shadow: 0px 0.2em 0px 0px #990000;
  background-color: #cc0000;
  color: #fff;
}
.btn-push-danger:active {
  box-shadow: none;
  top: 0.2em;
}

.btn, .btn-push {
  position: relative;
  display: inline-block;
  margin-top: 0.31em;
  margin-bottom: 0.31em;
  padding: 0.45em 0.85em;
  outline: 0;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.875em;
  line-height: 1.25;
}

.btn:hover, .btn-push:hover {
  text-decoration: none;
}

.btn-disabled,
.btn[disabled],
[disabled].btn-push {
  background: #ccc;
}

label {
  display: inline-block;
  padding: 0.4em 0;
  width: 100%;
  font-size: 0.8em;
  line-height: 1;
}

label[for] {
  cursor: pointer;
}

label.required:after,
label[required]:after {
  content: "\00a0*";
  color: red;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
  display: inline-block;
  padding: 0.4em 0.5em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  box-shadow: none;
  font-size: 1em;
  line-height: normal;
  -webkit-appearance: none;
}

select {
  -webkit-appearance: menulist;
  height: 2em;
}

@media only screen {
  .s-hide {
    display: none;
  }
}
@media only screen and (min-width: 40.0625em) {
  .m-hide {
    display: none;
  }
}
@media only screen and (min-width: 64.0625em) {
  .l-hide {
    display: none;
  }
}
@media only screen and (min-width: 0) and (max-width: 40em) {
  .s-only-hide {
    display: none;
  }
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .m-only-hide {
    display: none;
  }
}
@media only screen and (min-width: 64.0625em) and (max-width: 90em) {
  .l-only-hide {
    display: none;
  }
}
@media only screen {
  .s-show {
    display: inherit;
  }
}
@media only screen and (min-width: 40.0625em) {
  .m-show {
    display: inherit;
  }
}
@media only screen and (min-width: 64.0625em) {
  .l-show {
    display: inherit;
  }
}
@media only screen and (min-width: 0) and (max-width: 40em) {
  .s-only-show {
    display: inherit;
  }
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  .m-only-show {
    display: inherit;
  }
}
@media only screen and (min-width: 64.0625em) and (max-width: 90em) {
  .l-only-show {
    display: inherit;
  }
}
.navbar {
  background: #ccc;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  font-family: sans-serif;
  *zoom: 1;
}
.navbar:before, .navbar:after {
  content: " ";
  display: table;
}
.navbar:after {
  clear: both;
}

.navbar > [class*="menu"] {
  overflow: hidden;
  max-height: 0;
  height: 100%;
  transition: max-height 300ms ease;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 1200px;
  width: 100%;
  *zoom: 1;
}
.navbar > [class*="menu"]:before, .navbar > [class*="menu"]:after {
  content: " ";
  display: table;
}
.navbar > [class*="menu"]:after {
  clear: both;
}

.navbar ul {
  position: relative;
  z-index: 10;
  display: block;
  margin: 0;
  background: #ccc;
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  width: 100%;
  float: left;
  overflow: hidden;
}

.navbar ul li a {
  display: inline-block;
  padding: 0.6em 2em;
  width: 100%;
  border-bottom: none;
  color: #fff;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  background: #999999;
  color: #fff;
}

.navbar ul ul {
  padding-left: 2em;
}

.navbar [data-toggle="toggle"] {
  position: relative;
  display: inline-block;
  float: right;
  margin: 0.5em;
  padding: 0.6em;
  height: 2em;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #ccc;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-appearance: none;
  user-select: none;
}
.navbar [data-toggle="toggle"]:hover {
  background: #e6e6e6;
}

.navbar [data-toggle="toggle"] .toggle-title {
  position: absolute;
  line-height: 3em;
  top: -0.5em;
  right: 2.8em;
}

.navbar [data-toggle="toggle"] .toggle-navicon {
  position: relative;
  display: block;
  width: 1.3em;
  height: 2px;
  background-color: #FFF;
  transition: 0.3s;
}
.navbar [data-toggle="toggle"] .toggle-navicon:before, .navbar [data-toggle="toggle"] .toggle-navicon:after {
  content: "";
  position: absolute;
  display: block;
  width: 1.3em;
  height: 2px;
  background: #FFF;
  transition: 0.3s;
}
.navbar [data-toggle="toggle"] .toggle-navicon:before {
  top: -6px;
}
.navbar [data-toggle="toggle"] .toggle-navicon:after {
  top: 6px;
}

.csstransforms .navbar [data-toggle="toggle"].active .toggle-navicon {
  background: transparent;
}
.csstransforms .navbar [data-toggle="toggle"].active .toggle-navicon:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csstransforms .navbar [data-toggle="toggle"].active .toggle-navicon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 40.0625em) {
  .navbar [data-toggle="toggle"] {
    display: none;
  }

  .navbar > [class*="menu"] {
    overflow: visible;
    max-height: none !important;
  }

  .navbar ul li {
    overflow: visible;
    width: auto;
  }

  .navbar ul ul {
    padding-left: 0;
    display: none;
  }

  .navbar ul li:hover > ul,
  .navbar ul li:focus > ul {
    display: block;
    position: absolute;
  }

  .navbar ul ul li {
    clear: both;
    width: 100%;
  }

  .navbar ul ul ul {
    display: none;
    top: 0;
    left: 100%;
  }
}
.row.wrapper {
  color: #fff;
  text-align: center;
  font-size: 1.25em;
}

.inner {
  background-color: #09f;
}

.full-width {
  background-color: #09f;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
